<html>
	<head>
		<title>Chittra-Suchi</title>
		<link  rel="stylesheet" type="text/css" href="/static/enroll.css"/>

	</head>
		<body bgcolor="#f6cffc">
			
			<div class="container">
			
				<h1 >Enrollment Form</h1>
			
			</div>	
			<div class="container1">

				<div class="container2">

				<img src="/static/images/log1.png" alt="Take Image">
				
				<form action"" method="post" >
					<div class="form-input">

						<input  type="text" name="firstname" placeholder="First Name" required>
						<input  type="text1" name="lastname" placeholder="Last Name" required>	
						<input 	type="date" name="dob" placeholder="Date of Birth" required>
						<input 	type="email" name="email" placeholder="abc@gmail.com" required>
						<select name="branch" required>
							<option value="CS">computer science</option>
		  					<option value="IT">information technology</option>
		  					<option value="ME">mechnical</option>
		 					<option value="EC">electronics</option>
		 					<option value="CE">civil</option>
		 					<option value="EE">electrical</option>
						</select>
						<input  type="text2" name="contact" placeholder="e.g. 9876543210" required>
						<input type="submit" name="action" value="SUBMIT">
<!-- 						<div class="button">
							<input type="button" value="Submit" placeholder="Submit">
						</div> -->
					</div>
				</form>
				<div class="container3">
				</div>
			</div>	

		</body>
</html>