<!DOCTYPE html>
<html lang ="en">

<head>
	<link rel="stylesheet" href="/static/stylec.css">
	<link href="https://fonts.googleapis.com/css?family=Amarante" rel="stylesheet"> 	
	<title>Chitra-Suchi</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

</head>

<body bgcolor=#535355 width="1235" height="800">

	<div class="container3">
		<h1><br> Attendance Marking </h1>
	    <h2> @Chitra-Suchi  </h2>
	</div>

		
	<div class="container12">
		<img src="/static/images/img.png" alt="logo" style="width:250px height:240px border-radius:10px">
	</div>

	
	<div class="gallery">
		<div class="polaroid">
			<a href="/enroll" style="color: #000000; text-decoration: none;">
  				<img src="/static/images/images.png" alt="Enroll" style="width:300px height:280px">
  				<div class="container">
    				<p><b>ENROLL<b></p>
  				</div>
				</a>
		</div>


		<div class="polaroid0" style="margin-left:120%;">
			<a href="/mark_attendance" style="color: #000000; text-decoration: none;">
				<img src="/static/images/image2.png" alt="mark" style="width:300px height:260px" >
					<div class="container0">
					<p><b>MARK ATTENDENCE<b></p>
					</div>
			</a>
		</div>
	</div>

	<div class="polaroid1">
		<a href="/table" style="color: #000000; text-decoration: none;">
			<img src="/static/images/image3.png" alt="details" style="width:300px height:260px" >
	  		<div class="container1">
	    		<p><b>SHOW DETAILS<b></p>
	  		</div>
		</a>
	</div>
</body>	
</html>
